.pointer:hover {
  cursor: pointer;
}

.br-sharp {
  border-radius: .1rem;
}

div.modal-content {
  border-radius: .1rem;
}

.new-product-layer:nth-child(even) {
  background-color: #f8f9fa;
}

.add-icon {
  height: 35px;
  width: 35px;
  background-color: #116466;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(17, 100, 102, 0.7);
  font-size: 175%;
}

.add-icon:hover {
  opacity: .75;
}

.pulse {
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}

.products-list:nth-child(even) {
  background-color: #C4C6EE;
}

.products-list:hover {
  background-color: rgba(39, 47, 195, .5);
}

.selected-product {
  background-color: #272fc3 !important;
  color:rgba(255,255,255,.75);
}

.cursor-pointer:hover {
  cursor: pointer;
}

.min-w-618 {
  min-width: 618px;
}

.link {
  color: #007bff;
}

.link:hover {
  color: #0056b3;
}

.dark-theme {
  background-color: #343a40;
  color: rgba(255,255,255,.75);
}

.bg-blue {
  background-color: #272fc3
}

.bg-light-blue {
  background-color: #C4C6EE;
}

.underline {
  text-decoration: underline;
}

.underline-hover:hover {
  text-decoration: underline;
}

.hover-light:hover {
  color: white;;
}