@media only screen and (min-width: 768px) {
    .height-100 {
        height: calc(100vh - 4.5rem);
    }

    .sidebar {
        position: fixed;
        z-index: 1000;
    }

    .bg-md-light {
        background-color: #f8f9fa !important;
    }
}